@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins';
}

img {
  border-radius: 5px;
}

.overflow-hidden {
  border-radius: 1.5rem;
}

.text-brand-blue {
  --tw-text-opacity: 1;
  color: #00A8FF;
}
